<app-header></app-header>
<main>
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
    }
  </ul>
  <div class="user-details">
    <!-- @if (selectedUser) {
    <app-task [name]="selectedUser.name" />
    } @else {
    <p id="fallback">Select a user to see their tasks</p>
    } -->
    <app-task *ngIf="selectedUser; else falback" [name]="selectedUser.name" />
    <ng-template #falback>
      <p id="fallback">Select a user to see their tasks</p>
    </ng-template>
  </div>
</main>
